.login-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 140px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .custom-card {
    text-align: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
  }

  .custom-select-wrapper {
    position: relative;
  }
  
  .custom-select-container {
    position: relative;
  }
  
  select.form-control {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    width: 100%;
    padding-right: 30px; 
  }
  
  .dropdown-icon {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    pointer-events: none; 
    font-size: 1.2rem; 
    color: #666; 
  }
  /* +++++++++++++++ lodder +++++++++++++++ */
  /* Add a full-screen overlay with loader */
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top of all elements */
  }
  
  .loader {
    animation: spin 20s infinite linear;
  }
  
  .loader img {
    width: 100px;
    height: 100px;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Add some padding and margins for the form */
  .form-group {
    margin-bottom: 15px;
  }
  
  