<div>
    <h2>Insert Data</h2>
    <form (submit)="onSubmit()">
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="name" name="name" required />
  
      <label for="email">email:</label>
      <input type="text" id="email" [(ngModel)]="email" name="email" required />
  
      <label for="country">country:</label>
      <input type="text" id="country" [(ngModel)]="country" name="country" required />
  
      <button type="submit">Submit</button>
    </form>
  </div>
  
  <div *ngIf="message">
    <p>{{ message }}</p>
  </div>
  