<div class="popup-overlay" *ngIf="isVisible">
  <div class="popup-content">
    <span class="close-btn" (click)="closePopup()">&times;</span>
    <h2>Login Here!</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="loginby">Login By:</label>
        <select name="loginby" id="loginby" [(ngModel)]="registerby">
          <option value="admin">Admin</option>
          <option value="employee">Employee</option>
          <option value="job-seeker">Job-seeker</option>
        </select>
      </div>

      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" [(ngModel)]="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required>
      </div>
      <button type="submit" class="login-btn">Login</button>
    </form>
  </div>
</div>
