<footer class="footer">
    <div class="footer-div">
    <div class="footer-left">
      <img src="logo.png" alt="Logo" class="footer-logo" />
      <p class="connect-text">Connect with us</p>
      <div class="social-icons">
        <a href="#" class="social-icon"><img src="facebook-icon.png" alt="Facebook" /></a>
        <a href="#" class="social-icon"><img src="instagram-icon.png" alt="Instagram" /></a>
        <a href="#" class="social-icon"><img src="twitter-icon.png" alt="Twitter" /></a>
        <a href="#" class="social-icon"><img src="linkedin-icon.png" alt="LinkedIn" /></a>
      </div>
    </div>
    <div class="footer-center">
      <ul class="footer-links">
        <li><a href="#">About us</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Employer Home</a></li>
        <li><a href="#">Site Map</a></li>
        <li><a href="#">Credits</a></li>
      </ul>
    </div>

    <div class="footer-center">
        <ul class="footer-links">
          <li><a href="#">About us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Employer Home</a></li>
          <li><a href="#">Site Map</a></li>
          <li><a href="#">Credits</a></li>
        </ul>
      </div>

      <div class="footer-center">
        <ul class="footer-links">
          <li><a href="#">About us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Employer Home</a></li>
          <li><a href="#">Site Map</a></li>
          <li><a href="#">Credits</a></li>
        </ul>
      </div>

    <div class="footer-right">
      <div class="app-info">
        <p>Apply on the go</p>
        <p>Get real-time job updates on our App</p>
        <div class="app-links">
          <a href="#" class="app-link">Google Play</a>
          <a href="#" class="app-link">App Store</a>
        </div>
      </div>
    </div>
</div>
  </footer>
  