.div-main{
  display: flex;
} 

.div-image img{
  margin-top: 40px;
  width: 800px;
  height: 600px;
}




.register-form h1{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

form{
  width: 350px;
}

form h1{
  color: rgb(206, 86, 86);
}

.btn{
  margin-left: 10px;
  margin-top: 20px;
  /* color: black; */
}

p {
    font-family: Lato;
  }
  
  #root {
    padding: 30px;
  }
  
  .register-form {
    max-width: 450px;
    margin: auto;
    padding: 12px;
  }
  

  table {
    width: 90%;
    border-collapse: collapse;
    margin:5px 10px 30px 50px;
}

.table-heading{
  text-align: center;
  margin-top: 20px;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}